/*  ---------------------------------------------------------  */
/*  ----------  /05-hook-app/src/styles/index.css  ----------  */
/*  ---------------------------------------------------------  */


@import '../styles/header.css';
@import '../styles/Navbarlink.css';


body {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: url('../assets/background-curvas-suaves.jpeg');
    background-size: cover;                 /* Asegura que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;           /* Evita que la imagen se repita */
    background-position: center center;     /* Centra la imagen */
    background-attachment: fixed;
    text-align: center;

}

button {
    margin-right: 10px;
}


/*  --------------------------------  */

.box-shadow {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Desplazamiento, desenfoque y opacidad */
    border-radius: 8px; /* Opcional: Esquinas redondeadas */
}


.component__container {
    width: 100%;
    padding: 60px;
    margin-top: 70px;
    margin-bottom: 20px;
    background-color: #C1BEF5;
}

.height__container-600 {
    min-height: 600px;
}


.component__title {
    color: gold;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.pre__text {
    text-align: left;
}



/*  ----------------------------------  */
/*  ----------  Responsive  ----------  */
/*  ----------------------------------  */

@media(max-width: 450px) {
    
    .navbarlink {
        width: 100%;
        top: 22%;
        left: 19%;
    }

    .component__container {
        margin-top: 100px;
    }
}

@media(max-width: 325px) {
    
    .navbarlink {
        left: 11%;
    }
}